$border-color: #5C8379;
$header-color: #62736C;

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

header {
  height: 98px;
  margin: -20px auto 0px auto;
  background-color: #000;
  width: 90%;
  padding: 0px 12px;
  #logo_area {
    width: 98%;
    background-color: inherit;
    border: none;
    b {
      float: right;
      margin: 0px 5px;
      color: #FFF;
      a {
        color: #FFF;
      }
    }
  }
  #header_links {
  display: block;
    width: 100%;
    margin-left: -12px;
    margin-top: 2px;
    background-color: $header-color;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    height: 26px;
    padding: 4px 22px 0px 2px;
    color: #FFF;
    a {
      padding: 2px 5px;
      color: #FFF;
    }
    form {
      display: inline;
      float: right;
      pading-right: 10px;
    }
    input {
      font-size: .85em;
      width: 80px;
      padding: 1px 5px;
    }
  }
}

section {
  margin: 0px auto;
  width: 90%;
  border: 2px solid $border-color;
  padding: 10px;
  #content {
    width: 60%;
    background-color: #FFF;
    margin: 0px 0px 30px 30px;
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
    h1, h2, h3, h4, h5, h6, h7, h8 {
      color: #000;
    }
  }
  #rental, #add_item_alert {
    width: 30%;
    border: 1px solid $border-color;
    background-color: #fff;
    margin-right: 15px;
    padding: 10px 0px 10px 30px;
    float: right;
    color: #000;
    select {
      margin: 7px 0px;
      width: 50px;
    }
  }
  #back {
    color: #FFF;
    margin-left: 20px;
  }
}

#content_holder {
  border-radius: 0px 0px 10px 10px;
  /* Older browsers */
  background: -prefix-linear-gradient(top, black 85%, $header-color);

  /* Newer browsers */
  background: linear-gradient(to bottom, black 85%, $header-color);
  img {
    margin-left: 80px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #000;
  }
}

table {
  margin: 0px auto 30px auto;
  padding: 5px;
  width: 90%;
  background-color: #FFF;
  border: 2px solid $border-color;
  border-radius: 7px;
  box-shadow: -2px 2px 7px #777;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  color: #FFF;
}