$border-color: #5C8379;

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

header {
  height: 120px;
  margin-top: -20px;
  background-color: #000;
  width: 100%;
  #logo_area {
    width: 90%;
    background-color: inherit;
    border: none;
  }
  #header_links {
    width: 90%;
    background-color: #62736C;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    height: 18px;
    padding-top: 4px;
    color: #FFF;
    a {
      padding: 2px 5px;
      color: #FFF;
    }
    form {
      display: inline;
      float: right;
      pading-right: 10px;
    }
    input {
      font-size: .85em;
      width: 80px;
      padding: 1px 5px;
    }
  }
}

section {
  margin: 0px auto;
  width: 90%;
  border: 2px solid $border-color;
  padding: 10px;
  background-color: #D7E8DF;
}

#professional {
  width: 50%;
}