<%= render 'Frontpage/header_links' %>
<section id="content_holder">
  <h1><%= @category.name %></h1>

  <%= render 'professionals/professional_list' %>

  <br>

  <%= link_to 'Back', category_listing_path, id: "back" %>
</section>